<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Bitcoin Rates </title>
</head>
<body>
    <form action="/" method="post">
        <input type="number" name="number1" placeholder="Number">
        <select name="currency">
            <option value ="USD">US Dollars</option>
            <option value ="EUR">Euros</option>
           
             
        </select>
        <button type="submit">Check rates</button>
        
    </form>
    
     
    
    <% if(locals.currency1 === "EUR") { %>

   Antud väärtus on eurodes: <%= locals.numb %> € <br>
    <% } else { %>
   Antud väärtus on dollarites: <%= locals.numb1 %> $ <br>
    <% } %>
</body>
</html>